extends layout

block content
  h1= title
  input(type="text", id="myInput", onkeyup="searchItem()", placeholder="Search for names..",class="form-control")
  hr
  ul#searchUL 
    each champ in champ_list
      li
        a(href=champ.url) #{champ.name} 
        | (#{champ.title})
    else
      li There are no champions.

block head
  a(href='/') Home
  a.selected(href='/champs') Champions
  a(href='/items') Items
  a(href='/summoners') Summoners
  a(href='#') Faq
  a(href='#') Contact