extends layout

block content
  h1= title
  p Welcome to #{title}

block head
  a.selected(href='/') Home
  a(href='/champs') Champions
  a(href='/items') Items
  a(href='/summoners') Summoners
  a(href='#') Faq
  a(href='#') Contact