extends layout

block content
  h1= title
  hr
  form(method='POST' action='/summoners')
    div.form-group
      label(for='summonerName') Name:
      input#name.form-control(type='text', placeholder='Summoner name' name='summonerName')
    button.btn.btn-primary(type='submit') Search

block head
  a(href='/') Home
  a(href='/champs') Champions
  a(href='/items') Items
  a.selected(href='/summoners') Summoners
  a(href='#') Faq
  a(href='#') Contact

